.pagina{
    background-color: rgb(165, 173, 245);
    margin: 70px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.colores{
    font-size: 30px;
}